* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1576502200916-3808e07386a5?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(14, 0, 46);
    font-size: 50px;
    padding: 30px;
    padding-top: 150px;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

div.login {
    background-color: whitesmoke;
    display: flex;
    margin-top: 50px;
    margin-left: 500px;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 30px;
    border: 1px solid rgb(110, 110, 110);
    box-shadow: 5px 5px 10px black;
}

.nombre {
    color: whitesmoke;
    width: 150px;
    align-self: center;
}

.ingresarNombre {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.inputNombre {
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
}

.comenzarJuego {
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comenzarJuego:hover {
    box-shadow:
        10px 10px 20px whitesmoke;
}

h2 {
    text-align: center;
}

button {
    align-self: center;
    color: black;
    letter-spacing: 2px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    background-color: rgb(14, 0, 46);
    border: 1px solid black;
    border-radius: 10px;
}

button:not(.especial):hover {
    background-color: rgb(46, 0, 153);
}

.card {
    width: 700px;
    margin-left: 280px;
    padding: 30px;
}

.numerosPreguntas {
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
    text-align: left;
}

.card-title {
    text-align: left;
    padding: 10px;
    color: rgb(14, 0, 46);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.siguiente {
    color: whitesmoke;
    font-size: medium;
    width: 150px;
}

.opciones {
    background-color: rgb(209, 207, 207);
    letter-spacing: 2px;
    font-size: medium;
    font-weight: bold;
    color: rgb(26, 26, 26);
    width: 500px;
    border-radius: 0%;
    text-decoration: none;
    position: relative;
    transition: font-size 0.3s ease;
}

.opciones:hover {
    font-size: large;
    color: black;
}

.comenzar,
.finalizar {
    color: antiquewhite
}

.resultados {
    border: 1px solid rgb(110, 110, 110);
    border-radius: 0px;
    box-shadow: 5px 5px 10px black;
    margin-top: 20px;
}

.card-title-resultado {
    color: rgb(14, 0, 46);
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(56, 56, 56);
}

thead {
    background-color: rgb(209, 207, 207);
    color: black;
}

th {
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

td {
    padding: 3px;
    font-size: large;
    font-weight: lighter;
}

.finalizar {
    margin-top: 20px;
}

.oculta {
    display: none;
}

.correcta {
    background-color: rgb(153, 245, 153);
}

.incorrecta {
    background-color: rgb(253, 123, 123);
}